{{- if .Values.installCRDs }}
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: targetgroupbindings.elbv2.k8s.aws
  labels:
    app.kubernetes.io/name: aws-load-balancer-controller
spec:
  group: elbv2.k8s.aws
  names:
    kind: TargetGroupBinding
    listKind: TargetGroupBindingList
    plural: targetgroupbindings
    singular: targetgroupbinding
  scope: Namespaced
  versions:
    - name: v1beta1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              required:
                - targetGroupARN
                - targetType
              properties:
                targetGroupARN:
                  type: string
                targetType:
                  type: string
                  enum:
                    - instance
                    - ip
                serviceRef:
                  type: object
                  required:
                    - name
                    - port
                  properties:
                    name:
                      type: string
                    port:
                      anyOf:
                        - type: integer
                        - type: string
                networking:
                  type: object
                  properties:
                    ingress:
                      type: array
                      items:
                        type: object
                        required:
                          - from
                          - ports
                        properties:
                          from:
                            type: array
                            items:
                              type: object
                              properties:
                                ipBlock:
                                  type: object
                                  properties:
                                    cidr:
                                      type: string
                                securityGroup:
                                  type: object
                                  properties:
                                    groupID:
                                      type: string
                          ports:
                            type: array
                            items:
                              type: object
                              properties:
                                protocol:
                                  type: string
                                port:
                                  anyOf:
                                    - type: integer
                                    - type: string
            status:
              type: object
              properties:
                observedGeneration:
                  type: integer
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: ingressclassparams.elbv2.k8s.aws
  labels:
    app.kubernetes.io/name: aws-load-balancer-controller
spec:
  group: elbv2.k8s.aws
  names:
    kind: IngressClassParams
    listKind: IngressClassParamsList
    plural: ingressclassparams
    singular: ingressclassparams
  scope: Cluster
  versions:
    - name: v1beta1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                scheme:
                  type: string
                  enum:
                    - internal
                    - internet-facing
                ipAddressType:
                  type: string
                  enum:
                    - ipv4
                    - dualstack
                tags:
                  type: array
                  items:
                    type: object
                    required:
                      - key
                      - value
                    properties:
                      key:
                        type: string
                      value:
                        type: string
                loadBalancerAttributes:
                  type: array
                  items:
                    type: object
                    required:
                      - key
                      - value
                    properties:
                      key:
                        type: string
                      value:
                        type: string
{{- end }}
